# unversioned files
local/

# vscode
.vscode/
*.code-workspace

# cmake
cmake-build-*/

# blender
*.blend1

# python
__pycache__/

# bash
run_*.bat
run_*.sh

# dosbox-x
dosbox-x.conf
/capture/

# build
build/*
!build/assets/
