[submodule "source/external/BRender"]
	path = source/external/BRender
	url = https://github.com/crocguy0688/CrocDE-BRender/
[submodule "source/external/Nuklear"]
	path = source/external/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear/
[submodule "source/external/tinyfd"]
	path = source/external/tinyfd
	url = http://git.code.sf.net/p/tinyfiledialogs/code
[submodule "sourcexx/thirdparty/ImGUI"]
	path = sourcexx/thirdparty/ImGUI
	url = https://github.com/ocornut/imgui
	branch = docking
