# unversioned files
local/

# vscode
.vscode/
*.code-workspace

# cmake
cmake-build-*/

# meson
meson-build-*/

# make
build-*/

# blender
*.blend1

# python
__pycache__/

# bash
run_*.bat
run_*.sh

# dosbox-x
dosbox-x.conf
/capture/

# build
build/*
!build/assets/

# quake
/**/mapsrc/**/*.bat
/**/mapsrc/**/*.sh
/**/mapsrc/**/*.bsp
/**/mapsrc/**/*.compile.map
/**/mapsrc/**/*.lit
/**/mapsrc/**/*.log
/**/mapsrc/**/*.prt
/**/mapsrc/**/*.pts
/**/mapsrc/**/*.texinfo
/**/mapsrc/**/*.texinfo.json
/**/mapsrc/**/*.json
/**/mapsrc/**/*.vis
/**/mapsrc/**/autosave/
